@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: "Philosopher", sans-serif;

}



/* footer css start */
    /* footer css - :  */

.footer {
    width: 100%;
    height: 70vh;
     
    
   } 
   #content {
     margin-top:10vh ;
     
   }
   
   
   .head {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: 500;
     padding-left: 50px;
     width: 100%;
     height: 20%;
     background-color:#f8f8f8;
     font-size: large;
     color: rgb(0, 0, 0);
   }
   
   .F-container {
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-evenly;
     width: 100%;
     height:65%;
     background-color: #f8f8f8;
     color: rgb(0, 0, 0);
   }
   .container div {
     display: flex;
     flex-direction: column;
      width: 250px;
      height: 320px;
     
   } 
   .container div h3 {
   margin: 0;
   }
   .container div p {
     display: flex;
     margin-top: 1px;
   }
   
    .social-link  a i {
        color: rgb(0, 0, 0);
        margin-top: 20px;
        margin-right: 30px;
    }
    .social-link {
     display: flex;
     
    } 
    .policy {
    
     width: 100%;
     height: 15%;
     background-color: #f8f8f8;
     color: rgb(0, 0, 0);
     padding: 10px;
    }
    .policy p {
     margin: 0;
     font-size: 15px;
    }
    .line {
     width: 50vw;
     height: 0.5px;
     background-color: black;
    }
/* footer css end  */

  /* register css start */

  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
  }
  .res-form {

    width: 100%;
    height: 85%;
 } 

  label {
    display: block;
  } 
  .input-box , .res-btn {
    margin-left: 20px;
    margin-top: 20px;
  }
  input {
    width: 400px;
    border-radius: 5px;
    border: 2px solid black;
  }
  .res-btn {
    margin-top: 10px;
    background-color: rgb(93, 93, 225);
    color: white;
    height: 40px;
    margin-left: 50px;
  }
.pro-Detail {
    display: none;
}

.profile-main {
  height:100vh;
  width: 100vw;
  background-color: skyblue;
}

/* service section css start */
 body {
  overflow-x: hidden;
 }
#main {
  width: 100vw;
  height: 90vh;
  background-image: url("./partials/labour01.png");
 
}
.home-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: transparent;
}
.title-info{
  width: 80%;
  height: 50%;
  background-color: transparent;
}
.title-info p {
  font-size: 40px;
  font-weight: 700;
}
.title-info button {
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  background-color: yellow;
}

/* service section css end */

/* contact form css start */
  .form {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .contact-box {
    width: 33%;
    height: 75%;
    background-color: transparent;
    padding: 20px;
  }
  .contact-box input{
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    color: white;
    
  }
  .contact-box button {
    width: 8rem;
    height: 2.5rem;
    outline: none;
    background-color: rgb(108, 108, 200);
    color: black;
    border-radius: 7px;
    outline: none;
  }
  .contact-box label {
    color: black;
   font-size: 30px;
  }
/* contact form css end */



